<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#90ee90">
<form action="./update/" method="post">
    {% csrf_token %}
    <center>
        <table bgcolor="#f4a460">
            <tr>
                <td>Enter pid:</td><td><input type="text" name="t1"></td></tr>
            <tr>
                <td>Enter pname:</td><td><input type="text" name="t2"></td>
            </tr>
            <tr>
                <td>Enter pcost:</td><td><input type="text" name="t3"></td>
            </tr>
            <tr>
                <td>Enter pmfdt:</td><td><input type="text" name="t4"></td>
            </tr>
            <tr>
                <td>Enter pexpdt:</td><td><input type="text" name="t5"></td>
            </tr>
            <tr><td colspan="2" align="center"><input type="submit" value="update"></td>
            </tr>
        </table>
    </center>
</form>
</body>
</html>